<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-4"><p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>
<p>
  <strong>Category:</strong>
  <%= @place.category.name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @place.user.email %>
</p>
 <% if user_signed_in? %>
          <% if current_user.email==@place.user.email %>

<%= link_to 'Edit', edit_place_path(@place) %> |
          <td><%= link_to 'Destroy', @place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %><% end %>
</div>

  <div class="col-md-8">


  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div></div>
  
  <div class="col-md-4">

  <h2>Place Pictures</h2>
  <% if user_signed_in? %>
    <%= link_to 'New Photo', new_place_places_pic_path(@place) %>
  <% end %>


    <% @pics.each do |places_pic| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= places_pic.title %></h1>
        </div>
        <div class="panel-body">
         
          <h5>Place: <%= places_pic.place.title %></h5>
          <%= image_tag places_pic.image.url(:thumb) %>
           <h5>Description: <%= places_pic.body %></h5>
        </div> 
        <div class="panel-footer clearfix">
          <div class="pull-right">
              <%= link_to 'Show', places_pic %>
              <% if user_signed_in? %>
                <% if current_user.email==places_pic.user.email %>
                  <%= link_to 'Edit', edit_places_pic_path(places_pic) %>
                  <%= link_to 'Destroy', places_pic, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
          </div>
        </div>
    </div>
        <% end %>
        
        </div>



<script type="text/javascript">
if (navigator.geolocation) { //Checks if browser supports geolocation
   navigator.geolocation.getCurrentPosition(function (position) {                                                              //This gets the
     var latitude = position.coords.latitude;                    //users current
     var longitude = position.coords.longitude;                 //location
     var coords = new google.maps.LatLng(latitude, longitude); //Creates variable for map coordinates
     var directionsService = new google.maps.DirectionsService();
     var rendererOptions = {
          suppressMarkers : false
        }
     var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
     var mapOptions = //Sets map options
     {
       zoom: 15,  //Sets zoom level (0-21)
       center: coords, //zoom in on users location
       mapTypeControl: true, //allows you to select map type eg. map or satellite
       navigationControlOptions:
       {
         style: google.maps.NavigationControlStyle.SMALL //sets map controls size eg. zoom
       },
       mapTypeId: google.maps.MapTypeId.ROADMAP //sets type of map Options:ROADMAP, SATELLITE, HYBRID, TERRIAN
     };
     map = new google.maps.Map( /*creates Map variable*/ document.getElementById("map"), mapOptions /*Creates a new map using the passed optional parameters in the mapOptions parameter.*/);
     directionsDisplay.setMap(map);
     directionsDisplay.setPanel(document.getElementById('panel'));
     var request = {
       origin: coords,
       destination: '<%= @place.latitude %> <%= @place.longitude %>',
       travelMode: google.maps.DirectionsTravelMode.WALKING
     };

     directionsService.route(request, function (response, status) {
       if (status == google.maps.DirectionsStatus.OK) {
         directionsDisplay.setDirections(response);
       }
     });
   });
 }
</script>